*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-family), sans-serif;
  background-color: var(--color-light-gray);
}

main {
  flex: 1 1 auto;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  color: currentColor;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

*:focus {
  outline: 2px solid var(--color-accent-medium);
  outline-offset: 4px;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.container--md {
  max-width: var(--container-width-md);
}
